


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/app.js" ></script>
    <script src="/CRUDservice.js" type="text/javascript"></script>
    <html ng-app="myApps"></html>
<div ng-controller="UserCRUDCtrl">

    <table>
        <tr>
            <td width="100">ID:</td>
            <td><input type="text" id="id" ng-model="user.id" /></td>
        </tr>
        <tr>
            <td width="100">Name:</td>
            <td><input type="text" id="name" ng-model="user.name" /></td>
        </tr>
        <tr>
            <td width="100">Age:</td>
            <td><input type="text" id="age" ng-model="user.email" /></td>
        </tr>
    </table>

    <a ng-click="getAllUsers()">Get all Users</a><br/><br/>
<div ng-repeat="usr in users">
{{usr.name}} {{usr.email}}
</div>
    <a ng-click="getUser(user.id)">Get User</a>
<a ng-click="updateUser(user.id,user.name,user.email)">Update User</a>
<a ng-click="addUser(user.name,user.email)">Add User</a>
<a ng-click="deleteUser(user.id)">Delete User</a>

</div>

</html>